<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <style>
        label, input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Регистрация</h1>
    
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</body>
</html>