<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <style>
        label, input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Вход</h1>
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Вход</button>
    </form>
</body>
</html>